@use 'common' as *;

@media screen and (max-width: $desktop) {

}

@media screen and (max-width: $tablet) {
  .t-hidden {
    display: none; 
  }

  .t-visible {
    display: inline-block;
  }

  .d-flex {
    &.t-column {
      flex-flow: column;
    }
    &.t-column-reverse {
      flex-flow: column-reverse;
    }
  }

  .t-whole {
    width: 100%;
  }

  .t-half {
    width: 50%;
  }

  .tech-element {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $secColor;
      z-index: -1;
    }
  }
}

@media screen and (max-width: $mobile) {
  .m-hidden {
    display: none; 
  }

  .m-visible {
    display: inline-block;
  }

  .d-flex {
    &.m-column {
      flex-flow: column;
    }
    &.m-column-reverse {
      flex-flow: column-reverse;
    }
  }

  .m-whole {
    width: 100%
  }

  .m-half {
    width: 50%;
  }

  html, body {
    overflow-x: hidden;
  }

  .module {
    .element {
      // padding: var(--spacing) var(--half-spacing) var(--half-spacing);
      &.m-whole {
        figure.m-portrait {
          height: calc(var(--module-h) * 2 - var(--double-spacing))
        }
        figure.m-landscape {
          height: calc(var(--module-h) - var(--double-spacing))
        }
      }
      &.d-flex { // couple of two vertical images 
        figure.portrait {
          height: calc(var(--module-h) * 2 - var(--double-spacing)) 
        }
      }
      &:empty {
        display: none;
      }
    }
  }

  footer {
    height: auto !important;
  }
}
